{% extends '::backEnd/base.html.twig' %}

{% block body %}
<h1>QuestionarioEcm creation</h1>

<form action="{{ path('questionarioecm_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('questionarioecm') }}">
            Back to the list
        </a>
    </li>
</ul>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" media="all"/>
                                                                                                                                        <script type="text/javascript">
(function($) {
$(document).ready(function(){
   $( "#accreditamenti_congressibundle_questionarioecmtype_data_inizio_compilazione" ).datepicker({
    dateFormat: 'dd-mm-yy',
    changeMonth: 'true',
    changeYear: 'true',
    yearRange: "-80:+0",
    monthNamesShort: ['Gen','Feb','Mar','Apr','Mag','Giu','Lug','Ago','Set','Ott','Nov','Dic'],
    dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],	
    dayNamesMin: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
    constrainInput:'false',
    showAnim: 'slideDown',
    firstDay:1
});

});
})(jQuery);


(function($) {
$(document).ready(function(){
   $( "#accreditamenti_congressibundle_questionarioecmtype_data_fine_compilazione" ).datepicker({
    dateFormat: 'dd-mm-yy',
    changeMonth: 'true',
    changeYear: 'true',
    yearRange: "-80:+0",
    monthNamesShort: ['Gen','Feb','Mar','Apr','Mag','Giu','Lug','Ago','Set','Ott','Nov','Dic'],
    dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],	
    dayNamesMin: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
    constrainInput:'false',
    showAnim: 'slideDown',
    firstDay:1
});

});
})(jQuery);

$.datepicker.setDefaults($.datepicker.regional[it]);

</script>
{%endblock%}
