[parameters]
    database_driver   = pdo_mysql
    database_host     = [[database_host]]
    database_port     =
    database_name     = [[database_name]]
    database_user     = [[database_user]]
    database_password = [[database_password]]
    mailer_transport  = smtp
    mailer_host       = localhost
    mailer_user       =
    mailer_password   =
    locale            = en
    secret            = 7b3fc5e7f53ddc593c453d4f0d44d74480150adc
