{% extends '::backEnd/base.html.twig' %}

{% block body %}
<h1>Accreditamento -- carica iscritti</h1>

<form action="{{ path('upload_iscritti',{'id':id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}