{% extends '::frontEnd/base.html.twig' %}

{% block body %}
<h2>Grazie per aver compilato il kit ECM.</h2>



Entro 90 giorni dal termine dell’evento sarà possibile stampare il proprio <br>attestato ECM da questo 
stesso portale. I partecipanti riceveranno una email <br>con tutte le informazioni su come fare a 
stampare l’attestato. <br><br>
Per qualsiasi necessità o informazione, le ricordiamo che la segreteria organizzativa <br>è a sua 
completa disposizione. Può scrivere a f.prayer@aimgroup.eu o <br>chiamare il numero 055.2338823.<br><br>
Aim Group International

{#
<form action="{{ path('pdf_create', {'accreditamento_id': accreditamento_id,'anagrafica_id': anagrafica_id}) }}" method="post" >
    <p>
        <button type="submit">Stampa il certificato</button>
    </p>
</form>
#}

{% endblock %}