

{% block body %}
{% if(utenti > 0) %}

<a href="{{ path('accreditamento_elenco_utenti', { 'accreditamento_id': accreditamento_id, 'vista':1}) }}"><span class="icon-user"></span></a><br />
{% endif %}

{% endblock %}