{% extends '::frontEnd/base.html.twig' %}

{% block body %}

<b>Step 2 di 3</b>
<table>
    <tr>
        <td><img src="http://modulisticaecm.it/resource/img/1on.png" width="35"></td>
        <td><img src="http://modulisticaecm.it/resource/img/2on.png" width="35"></td>
        <td><img src="http://modulisticaecm.it/resource/img/3off.png" width="35"></td>
    </tr>
</table>

    ID ECM : <strong>93-71565 ED.1</strong><br><br>
    OBIETTIVO FORMATIVO: <strong>LINEE GUIDA - PROTOCOLLI - PROCEDURE</strong>

  <br> <br>

L’evento è inserito nel Piano Formativo anno 2013 AIM Education – Provider nr. 93 (www.aimeducation.it) ed è
    stato accreditato presso la Commissione Nazionale per la Formazione Continua esclusivamente per la Figura
    Professionale del MEDICO CHIRURGO con specializzazione nelle seguenti discipline:<br>

    ALLERGOLOGIA ED IMMUNOLOGIA CLINICA; CARDIOLOGIA; DERMATOLOGIA E VENEREOLOGIA; ENDOCRINOLOGIA; MALATTIE METABOLICHE E DIABETOLOGIA; MALATTIE DELL'APPARATO RESPIRATORIO;<br>

    MALATTIE INFETTIVE; MEDICINA DELLO SPORT; NEONATOLOGIA; NEUROLOGIA; NEUROPSICHIATRIA INFANTILE; PEDIATRIA; GINECOLOGIA E OSTETRICIA; OFTALMOLOGIA; ORTOPEDIA E TRAUMATOLOGIA;<br>

    OTORINOLARINGOIATRIA; UROLOGIA; ANESTESIA E RIANIMAZIONE; FARMACOLOGIA E TOSSICOLOGIA CLINICA; IGIENE, EPIDEMIOLOGIA E SANITÀ PUBBLICA; IGIENE DEGLI ALIMENTI E DELLA NUTRIZIONE;<br>

    MEDICINA GENERALE (MEDICI DI FAMIGLIA); CONTINUITÀ ASSISTENZIALE; PEDIATRIA (PEDIATRI DI LIBERA SCELTA); SCIENZA DELL'ALIMENTAZIONE E DIETETICA;<br>
<br>


   <strong>L'evento è stato accreditato per un numero massimo di 800 partecipanti.
</strong>


















<br>
<br>
Oltre tale numero e per professioni/discipline differenti da quelle accreditate non sarà possibile rilasciare i crediti formativi. 
<br><br>

Si precisa che i crediti verranno erogati a fronte di una partecipazione del 100% ai lavori scientifici e del superamento della prova di apprendimento con almeno il 75% delle risposte corrette.
<br><br>

La rilevazione delle presenze è stata effettuata tramite Sistema Elettronico a Badges. 




<br><br>

<span style="color:#0064af;">
Per qualsiasi necessità o informazione, le ricordiamo che la segreteria organizzativa è a sua 
completa disposizione. Può scrivere a c.pizzo@aimgroup.eu o chiamare il numero 055.2338827.
</span>

<br><br>

<h3>Compila il questionario ECM</h3><BR>
Si ricorda che è possibile compilare il questionario ECM solo una volta<BR>
<BR>
<form action="{{ path('controlla_questionario_ecm', {'accreditamento_id': accreditamento_id,'anagrafica_id': anagrafica_id}) }}" method="post">
        {{form_widget(formDomande, { 'attr' : { 'class' : 'myForm' } })}}
        <button type="submit">Continua</button>
 </form>


    <style type="text/css">
            .myForm {
                border:0px solid red;
                width: 600px;
            }
            

            
            .myForm div {
                border:0px solid blue;
                width: 350px; 
                padding-bottom: 8px;    
            }
            
            /* domanda */
            .myForm div label {
                border:0px solid green;
                width: 500px;
                font-weight: bold;
                
            }
            
             /* risposta */
            .myForm div div label {
                border:0px solid green;
                font-weight: normal;
                padding-left: 25px;
                
            }
            
            
            .myForm input {
                border:0px solid pink;
                clear: both;
                float:left;
                padding: 1px
            }

        </style>



{%endblock%}


