{% extends '::frontEnd/base.html.twig' %}

{% block body %}
 <h2>Compila il questionario di valutazione</h2>
 questa pagina conterrà il questionario di valutazione

    <form action="{{ path('valutazione_save', {'accreditamento_id': accreditamento_id,'anagrafica_id': anagrafica_id}) }}" method="post">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
   
{%endblock%}