{% extends '::frontEnd/base.html.twig' %}


{% block body %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<center>
<h2>Attenzione!! E' obbligatorio rispondere a tutte le domande, torna indietro usando il link sottostante</h2>
<br>

<a href="#" onclick="history.back();return false;" style="font-size: 22px;"><B><< Torna Indietro</B></a>
</center>
{% endblock %}









