{% extends '::base.html.twig' %}

{% block body %}
<h1>Benvenuto - compila Anagrafica</h1>

qui devo far compilare l'anagrafica all'iscritto che è appena entrato inserendo il suo codice fiscale

{% endblock %}