{% extends '::backEnd/base.html.twig' %}


{% block body %}
    <h1>Prova invio email</h1>
    
    {{ nome }}
     bla<br>
     bla<br>
     bla<br>
     bla<br>
     bla<br>
     bla<br>
<br><br>
   
{% endblock %}