<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>My first styled page</title>
</head>

<body>



<!-- Main content -->
<h1>Stampa pdf</h1>

<p>qui ci metterò il certificato ecm!</p>

<p>Pagina ancora da personalizzare</p>


</body>
</html>